ul.stations {
  list-style-type: none;
}

.name {
  font-weight: bold;
  float: left;
}

.address {
  font-style: bold;
  float: left;
  padding-left: 1em;
}

.no-calls {
  font-weight: normal;
  text-align: left;
}

.since {
  padding-left: 1em;
  float: right;
  color: gray;
}

div.history {
  margin-top: 1em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid 1px lightgray;
  padding: .5em;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

thead tr {
  background-color: #f9f9ff;
}

div.stations > div {
  margin-bottom: 1em;
}