<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dispatch Display Status</title>
  <script src="js/vue.js"></script>
  <script src="js/status.js" defer></script>
  <link rel="stylesheet" href="css/status.css">
</head>
<body>
  <div id="status">
    <div class="stations">
      <div v-for="entry in results.directory">
        <table class="posts">
          <thead>
            <tr>
              <th colspan="5">
                <div class="name">{{entry.id}}</div>
                <div class="address">{{entry.address}}</div>
                <div class="since">{{new Date(entry.since).toLocaleDateString()}} {{new Date(entry.since).toLocaleTimeString()}}</div>
              </th>
            </tr>
            <tr v-if="entry.posts.length > 0">
              <th>Call #</th>
              <th>Call Sent</th>
              <th>Call Ack</th>
              <th>Directions Sent</th>
              <th>Directions Ack</th>
            </tr>
            <tr v-else>
              <th colspan="5" class="no-calls">No calls yet.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="post in entry.posts">
              <template v-if="post.type == 'call'">
                <td class="call-number">{{post.callNumber}}</td>
                <td class="call-sent">{{new Date(post.callSent).toLocaleDateString()}}</td>
                <td class="call-ack">{{new Date(post.callAck).toLocaleTimeString()}}</td>
                <td class="directions-sent">{{new Date(post.directionsSent).toLocaleDateString()}}</td>
                <td class="directions-ack">{{new Date(post.directionsAck).toLocaleTimeString()}}</td>
              </template>
              <template v-else-if="post.type == 'callslog'">
                <td class="call-number">Logs</td>
                <td class="call-sent">{{new Date(post.callslogSent).toLocaleDateString()}}</td>
                <td class="call-ack">{{new Date(post.callslogAck).toLocaleTimeString()}}</td>
                <td class="directions-sent"></td>
                <td class="directions-ack"></td>
              </template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="history">
      <div v-if="results.callHistory.length > 0">
        <table>
          <thead>
            <tr>
              <th colspan="6">Call History</th>
            </tr>
            <tr>
              <th>Call #</th>
              <th>Station</th>
              <th>Received</th>
              <th>Type</th>
              <th>Dispatch Code</th>
              <th>Directions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="call in results.callHistory">
              <td class="call-number">{{call.callNumber}}</td>
              <td class="call-station">{{call.callData.station}}</td>
              <td class="call-received">{{new Date(call.receivedDate).toLocaleDateString()}} {{new Date(call.receivedDate).toLocaleTimeString()}}</td>
              <td class="call-type">{{call.callData.callType}}</td>
              <td class="call-dispatch-code">{{call.callData.dispatchCode}}</td>
              <td class="call-directions">{{call.directionsData.response.json.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        No calls yet.
      </div>
    </div>
        
  </div>
</body>
</html>